@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

:root {
    --color-one: #18191F;
    --color-two: #3A3A3A;
    --color-three: #e02c6d;
    --color-four: #787885;
    --color-five: #3a3a3a;
    --color-six: #6C6C6C;
}

/* Navbar Styles */
.header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 25px 20px 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand h2 {
    font-size: 1.5rem;
    color: var(--color-one);
}

.menu {
    display: flex;
    gap: 34px;
}

.menu-icons span {
    margin-right: 1rem;
    cursor: pointer;
}

.menu-items ul {
    display: flex;
    gap: 34px;
}

.menu-items ul li {
    list-style: none;
}

.menu-items ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-two);
}

/* Banner Styles */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding-top: 7rem;
}

.banner-content {
    padding-top: 1rem;
    width: 50%;
}

.banner-content h1 {
    font-size: 3.25rem;
    color: var(--color-one);
    line-height: 4.5rem;
}

.banner-content p {
    font-size: 1rem;
    color: var(--color-two);
    margin: 1rem 0;
    width: 90%;
}

.banner-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: var(--color-three);
    border: none;
    padding: 10px 25px;
    border-radius: 2.5rem;
    margin-top: 2rem;
    cursor: pointer;
}

.lord-arrow {
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
    display: inline-block;
}

.banner-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/Circle-design.svg) no-repeat center;
    background-size: contain;
    padding: 25px;
}

/* E Commerces Logo Section */
.e-commerces-logos {
    width: 1110px;
    margin: 0 auto;
    padding: 30px 60px;
    margin-top: 70px;
    margin-bottom: 50px;
    border-top: 1px solid #cbcbcb5b;
    border-bottom: 1px solid #cbcbcb5b;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* Features Section */
.feature-container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
}

.feature-content h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature-content p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    color: var(--color-six);
}

.feature-btn {
    border-radius: 3px;
    padding: 10px 30px;
}

/* Populer Collection section */
.populer-collection-container {
    width: 1280px;
    margin: 100px auto;
}

.populer-collection-container h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-one);
    text-align: center;
    margin: 50px 0;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}

.card {
    padding: 1.5rem;
    box-shadow: rgb(0 0 0 / 8%) 5px 10px 20px;
}

.card img {
    width: 100%;
}

.content h2 {
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--color-one);
    margin-top: 10px;
    margin-bottom: 6px;
}

.content h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.content .icons i {
    font-size: 11px;
    color: #FB8200;
}

.content .icons span {
    font-size: 14px;
    margin-left: 8px;
    color: var(--color-four);
    font-weight: 600;
}

.content .icons h6 {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-four);
}
/* Footer */
.footer{
    background-color: #0a0826;
    text-align: center;
    color: #fff;
    padding: 50px;
    margin-top: 75px;
}
.footer-content h2{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-content h5{
    font-size: 14px;
    font-weight: 400;
    color: #D9DBE1;
}
.footer-social span{
    font-size: 16px;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: #ffffff3b;
    border-radius: 50%;
    padding: 1px;
    cursor: pointer;
    margin: 16px 5px;
}